body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.input-button{
  cursor: pointer;
}

.input-button:active{
  background-color: #B2B4B5;
}
