<h1 class="text-center">This is {{ title }}</h1>


<div class="container w-50">
  <p>Search for quotes: </p>

  <div class="input-group flex-nowrap mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text feature-color" id="addon-wrapping">Keyword:</span>
    </div>
    <input aria-describedby="addon-wrapping" aria-label="keyword" class="form-control" id="keyword" type="text" />
    <div class="input-group-append">
      <span class="input-group-text input-button feature-color" id="keywordSearch">Search</span>
    </div>
  </div>

  <p>Search by category: </p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="categorySelect">Category</label>
    </div>
    <select class="custom-select" id="categorySelect">
      <option selected>Select category</option>
    </select>
    <div class="input-group-append">
      <span class="input-group-text input-button feature-color" id="categorySearch">Search</span>
    </div>
  </div>

  <p>Search by author: </p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="authorSelect">Author</label>
    </div>
    <select class="custom-select" id="authorSelect">
      <option selected>Select author</option>
    </select>
    <div class="input-group-append">
      <span class="input-group-text input-button feature-color" id="authorSearch">Search</span>
    </div>
  </div>

  <p>Search by gender: </p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="genderSelect">Gender</label>
    </div>
    <select class="custom-select" id="genderSelect">
      <option selected>Select gender</option>
    </select>
    <div class="input-group-append">
      <span class="input-group-text input-button feature-color" id="genderSearch">Search</span>
    </div>
  </div>
</div>

<hr>

<h3 class="text-center">Quotes: </h3>
<div class="card my-2">
  <div class="card-body">
    <div class="card-title">
      <p>Author: <a href="#" data-toggle="modal" data-target="#exampleModal">name</a></p>
    </div>
    <hr align="left" width="40%">
    This is the quote section...
  </div>
</div>

<div class="card my-2">
  <div class="card-body">
    <div class="card-title">
      Author: name
    </div>
    <hr align="left" width="40%">
    This is the quote section...
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>