<nav class="navbar navbar-light shadow-sm">
  <span class="navbar-brand mb-0 h1">{{title}}</span>
    <button onclick="window.location.href='/admin'" class="btn btn-secondary" id="loginButton">Log In</button>
</nav>