/* CSS VARIABLES */
:root {
  --primary: #4e6a64;
  --bg-color: #e2ebf0;
  --feature-bg-color: #c3cfe2;
}

body {
  background-color: var(--bg-color);
  color: var(--primary);
}

header {
  background-color: #a1c0d0;
}

.feature-color {
  background-color: var(--feature-bg-color);
}

.xcenter {
  margin: 0 auto;
}

.searchcontent {
  width: 100%;
}

@media (min-width: 768px) {
  .searchcontent {
    width: 550px;
  }
}
